:root {
  --color-dark-mode-txt: #ffffff;
  --color-dark-mode-el: #2b3945;
  --color-dark-mode-bk: #202c37;

  --color-light-mode-txt: #111517;
  --color-light-mode-gray: #858585;
  --color-light-mode-bk: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
/* 350 px */
@media screen and (max-width: 21.875em) {
  html {
    font-size: 50%;
    /* 1rem = 8px */
    /* small phones */
  }
}

body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  /* Default font size of browser */

  /* Default Mode day*/
  color: var(--color-light-mode-txt);
  background-color: var(--color-light-mode-bk);
}

/* !!!!!!!!!! */
/* TYPOGRAPHY */
/* !!!!!!!!!! */

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h3 {
  font-weight: 600;
  font-size: inherit;
}

/* !!!!!!!!!! */
/* HEADER */
/* !!!!!!!!!! */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  height: 10rem;
  padding: 0 2rem;
}

.header__mode-container {
  display: flex;
  align-items: center;
}

.mode__moon {
  height: 2.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.mode__moon--hidden {
  display: none;
}

/* !!!!!!!!!! */
/* SEARCH */
/* !!!!!!!!!! */

.form {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.form__search-box {
  color: var(--color-light-mode-gray);
  position: relative;
}

.search-icon {
  width: 2rem;
  position: absolute;
  top: 2.6rem;
  left: 3rem;
  transform: translateY(-20%);
}

.form__search-input {
  width: 100%;
  max-width: 40rem;
  padding: 2.5rem 0 2.5rem 8rem;
  border: none;
  -webkit-box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}

.form__search-input::placeholder {
  color: var(--color-light-mode-gray);
}

.form__filter {
  padding: 1rem 2rem;
  font-family: inherit;
  width: 65%;
  max-width: 20rem;
  margin-bottom: 2rem;
}

/* 800px */
@media screen and (min-width: 50em) {
  .form__filter {
    float: right;
  }
}

/* 500px */
@media screen and (min-width: 31.25em) {
  .form__search-input {
    margin-right: 3rem;
  }
}

/* !!!!!!!!!! */
/* Country COMPONENT */
/* !!!!!!!!!! */

.country-container {
  display: flex;
  flex-wrap: wrap;
}

.country-card {
  /* width: 100%; */
  /* height: 40rem; */
  width: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 4rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  -webkit-box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 4px 13px 0px rgba(0, 0, 0, 0.1);
}

/* .country-card:not(:last-child) {
  margin-right: 2rem;
} */

.country__flag {
  height: 20rem;
  /* background-color: blue; */
  margin-bottom: 1rem;
}

.country-flag__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country__infos {
  height: 20rem;
  padding: 2rem 0 2rem 3rem;
}

.country__name {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.country__data {
  font-weight: 600;
}

.country__data:not(:last-child) {
  margin-bottom: 1rem;
}

.country__data > :last-child {
  font-weight: 400;
}

/* !!!!!!!!!! */
/* SEARCH RESULTS */
/* !!!!!!!!!! */

.country__data-border-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.country__data--border {
  display: inline-block;
  padding: 0.5rem 4rem;
  -webkit-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.btn-back {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  padding: 1rem 3rem;
  margin-left: 2rem;

  cursor: pointer;
  margin-bottom: 5rem;
}

/* 500px */
@media screen and (min-width: 31.25em) {
  .search-result {
    width: 40%;
    margin: 0 auto;
  }

  .btn-back {
    align-self: flex-start;
  }
}

/* 800px */
@media screen and (min-width: 50em) {
  .search-result {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;
  }

  .country-flag-container {
    flex-grow: 1;
    flex-basis: 40%;
    margin-left: 5%;
    max-height: 40rem;
  }

  .country__infos {
    flex-grow: 1;
    flex-basis: 50%;
    margin-left: 4rem;
    margin-right: 5%;
  }

  .country__info--side {
    margin-left: 4rem;
  }

  .country__infos-container {
    display: flex;
    justify-content: space-between;
  }

  .country-flag-container {
    margin-right: 4rem;
  }
}

/* Utilities */
.search-result .u-margin-bottom {
  margin-bottom: 3rem;
}

.search-result .u-margin-bottom-small {
  margin-bottom: 2rem;
}
/* !!!!!!!!!! */
/* Utilities */
/* !!!!!!!!!! */

.u-margin-bottom {
  margin-bottom: 3rem;
}

.u-padding-bottom-big {
  padding-bottom: 4rem;
}
